.skills {
  height: 100%;
  .container {
    height: 100%;
    max-width: 1366px;
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;

    .program {
      width: 80%;
      height: 40rem;
      display: flex;
      justify-content: center;
      align-items: center;
      flex-wrap: wrap;
      gap: 7rem;

      .boxCover {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 1rem;
        #mongoose {
          img {
            width: 6rem;
            border-radius: 3px;
          }
        }
        #express {
          img {
            width: 6rem;
            border-radius: 3px;
          }
        }
        .box {
          width: 7rem;
          height: 7rem;
          background-color: #ffebb7;
          display: flex;
          justify-content: center;
          align-items: center;
          border-radius: 1rem;

          img {
            width: 5rem;
          }
        }
      }
    }
  }
}
